.git
.gradle
.idea
.run
out
target

build/*
!build/libs/
build/libs/*
!build/libs/opal-fines-service.jar

functional-output
functional-test-report
integration-output
smoke-output
smoke-test-report

*.log
*.iml
.DS_Store
