.gradle
.env
/build/
!gradle/wrapper/gradle-wrapper.jar
*.class
bin/main/application.yaml
smoke-test-report
functional-test-report

target

### Generated Source ###
/src/generated

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
/out
/.run
*.iws
*.iml
*.ipr

.DS_Store

applicationinsights-agent-*.jar
*.log
