
services:
  opal-fines-service:
    container_name: opal-fines-service
    build:
      context: .
      args:
        - http_proxy
        - https_proxy
        - no_proxy
    environment:
      # these environment variables are used by java-logging library
      - ROOT_APPENDER
      - JSON_CONSOLE_PRETTY_PRINT
      - ROOT_LOGGING_LEVEL
      - REFORM_SERVICE_TYPE
      - REFORM_SERVICE_NAME
      - REFORM_TEAM
      - REFORM_ENVIRONMENT
      - LOGBACK_DATE_FORMAT
      - LOGBACK_REQUIRE_THREAD
      - LOGBACK_REQUIRE_ALERT_LEVEL=false
      - LOGBACK_REQUIRE_ERROR_CODE=false
      - OPAL_FINES_DB_HOST=opal-fines-db
      - OPAL_LEGACY_GATEWAY_URL=http://host.docker.internal:4553/opal
      - OPAL_USER_SERVICE_API_URL=http://host.docker.internal:4555/
      - TESTING_SUPPORT_ENDPOINTS_ENABLED=true
      - OPAL_REDIS_ENABLED=false

    ports:
      - "4550:4550"
    depends_on:
      - redis

  opal-fines-db:
    container_name: opal-fines-db
    image: postgres:17.5
    restart: always
    environment:
      - POSTGRES_DB=opal-fines-db
      - POSTGRES_USER=opal-fines
      - POSTGRES_PASSWORD=opal-fines
    ports:
      - "5432:5432"
    volumes:
      - opal-database-data:/var/lib/postgresql/data

  redis:
    container_name: redis
    image: redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data

  azure-sb-emulator:
    container_name: "servicebus-emulator"
    image: mcr.microsoft.com/azure-messaging/servicebus-emulator:latest
    pull_policy: always
    volumes:
      - "./ServiceBus_Emulator_config.json:/ServiceBus_Emulator/ConfigFiles/Config.json:ro"
    ports:
      - "5672:5672"
      - "5300:5300"
    environment:
      SQL_SERVER: mssql
      MSSQL_SA_PASSWORD: "OpalFines!12345"
      ACCEPT_EULA: "Y"
      SQL_WAIT_INTERVAL: 15 # Optional: Time in seconds to wait for SQL to be ready (default is 15 seconds)
    depends_on:
      - mssql
    networks:
      sb-emulator:
        aliases:
          - "sb-emulator"

  mssql:
    container_name: "mssql"
    platform: linux/amd64 #Only needed of you are on Apple Silicon
    image: "mcr.microsoft.com/mssql/server:2022-latest"
    networks:
      sb-emulator:
        aliases:
          - "mssql"
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD: "OpalFines!12345"
volumes:
  opal-database-data:
  redis-data:
networks:
  sb-emulator:
