apiVersion: v2
appVersion: "1.0"
description: A Helm chart for opal-fines-service app
name: opal-fines-service
home: https://github.com/hmcts/opal-fines-service
version: 0.0.32
maintainers:
  - name: HMCTS Opal Team
dependencies:
  - name: java
    version: 5.2.0
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
