apiVersion: v2
appVersion: "1.0"
description: A Helm chart for opal-fines-service app
name: opal-fines-service
home: https://github.com/hmcts/opal-fines-service
version: 0.0.72
maintainers:
  - name: HMCTS Opal Team
dependencies:
  - name: java
    version: 5.3.0
    repository: 'oci://hmctspublic.azurecr.io/helm'
  - name: opal-user-service
    version: 0.0.38
    repository: 'oci://sdshmctspublic.azurecr.io/helm'
    condition: opal-user-service.enabled
  - name: opal-logging-service
    version: 0.0.19
    repository: 'oci://sdshmctspublic.azurecr.io/helm'
    condition: opal-logging-service.enabled
  - name: servicebus
    version: 1.2.1
    repository: 'oci://hmctspublic.azurecr.io/helm'
    condition: servicebus.enabled
  - name: redis
    version: 24.1.2
    repository: 'oci://registry-1.docker.io/bitnamicharts'
    condition: redis.enabled
