global:
  postgresUsername: "javapostgres"
  postgresOptions: "?stringtype=unspecified"
  postgresPassword: "javapassword"
java:
  # Don't modify below here
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  devmemoryRequests: "1Gi"
  devcpuRequests: "250m"
  devmemoryLimits: "2Gi"
  devcpuLimits: "2500m"
  secrets:
    SERVICEBUS_SHARED_ACCESS_KEY:
      secretRef: opal-sb-dev
      key: primaryKey
    SERVICEBUS_CONNECTION_STRING:
      secretRef: opal-sb-dev
      key: connectionString
  keyVaults:
    opal:
      secrets:
        - name: app-insights-connection-string
          alias: app-insights-connection-string
        - name: launch-darkly-sdk-key
          alias: LAUNCH_DARKLY_SDK_KEY
        - name: AzureADTenantId
          alias: AAD_TENANT_ID
        - name: AzureADClientId
          alias: AAD_CLIENT_ID
        - name: AzureADClientSecret
          alias: AAD_CLIENT_SECRET
        - name: OpalTestUserPassword
          alias: OPAL_TEST_USER_PASSWORD
        - name: OpalLegacyGatewayUsername
          alias: OPAL_LEGACY_GATEWAY_USERNAME
        - name: OpalLegacyGatewayPassword
          alias: OPAL_LEGACY_GATEWAY_PASSWORD
        - name: inbound-user
          alias: OPAL_SFTP_INBOUND_USER
        - name: inbound-password
          alias: OPAL_SFTP_INBOUND_PASSWORD
        - name: outbound-user
          alias: OPAL_SFTP_OUTBOUND_USER
        - name: outbound-password
          alias: OPAL_SFTP_OUTBOUND_PASSWORD
  environment:
    OPAL_FINES_DB_HOST: "{{ .Release.Name }}-postgresql"
    OPAL_FINES_DB_NAME: "opal-fines-db"
    OPAL_FINES_DB_USERNAME: "{{ .Values.global.postgresUsername}}"
    OPAL_FINES_DB_PASSWORD: "{{ .Values.global.postgresPassword}}"
    OPAL_FINES_DB_OPTIONS: "{{ .Values.global.postgresOptions}}"
    RUN_DB_MIGRATION_ON_STARTUP: true
    OPAL_FRONTEND_URL: "${OPAL_FRONT_END_URL}"
    OPAL_USER_SERVICE_API_URL: "https://opal-user-service.staging.platform.hmcts.net/"
    OPAL_LEGACY_GATEWAY_URL: https://opal-legacy-db-stub.staging.platform.hmcts.net/opal
    TESTING_SUPPORT_ENDPOINTS_ENABLED: true
    LAUNCH_DARKLY_ENABLED: false
    FLYWAY_LOCATIONS: classpath:db/migration/allEnvs, classpath:db/migration/devOnly
    APPLICATIONINSIGHTS_ROLE_NAME: "opal-fines-service-pr-${CHANGE_ID}"
    DEFAULT_APP_MODE: ${APP_MODE}
    SERVICEBUS_LOGGING_PDPL_QUEUE_NAME: "{{ .Release.Name}}-servicebus-logging-pdpl"
    SERVICEBUS_LOGGING_PDPL_PROTOCOL: amqps
  postgresql:
    enabled: true
    primary:
      initdb:
        scripts:
          init.sql: |-
            CREATE DATABASE "opal-logging-db" OWNER javapostgres ENCODING = 'UTF-8' CONNECTION LIMIT = -1;
            CREATE DATABASE "opal-user-db" OWNER javapostgres ENCODING = 'UTF-8' CONNECTION LIMIT = -1;
    auth:
      username: javapostgres
      password: javapassword
      database: opal-fines-db

opal-frontend:
  enabled: ${DEV_ENABLE_OPAL_FRONT_END}
  nodejs:
    releaseNameOverride: ${SERVICE_NAME}-frontend
    image: 'sdshmctspublic.azurecr.io/opal/frontend:${DEV_OPAL_FRONT_END_IMAGE_SUFFIX}'
    ingressHost: "opal-fines-service-pr-${CHANGE_ID}-frontend.dev.platform.hmcts.net"
    keyVaults:
      opal:
        secrets:
          - app-insights-connection-string
          - launch-darkly-client-id
    environment:
      REDIS_CONNECTION_STRING: redis://${SERVICE_NAME}-redis-master:6379
      OPAL_API_URL: "https://opal-fines-service-pr-${CHANGE_ID}.dev.platform.hmcts.net"
      OPAL_LEGACY_GATEWAY_URL: https://opal-legacy-db-stub.staging.platform.hmcts.net/opal
      OPAL_USER_SERVICE_API_URL: "https://opal-user-service.staging.platform.hmcts.net"
      FRONTEND_HOSTNAME: "${OPAL_FRONT_END_URL}"
      FEATURES_LAUNCH_DARKLY_ENABLED: false
      FEATURES_SSO_ENABLED: false
      FEATURES_APP_INSIGHTS_ENABLED: false
      APPLICATIONINSIGHTS_ROLE_NAME: "opal-fines-service-pr-${CHANGE_ID}-frontend"
opal-user-service:
  enabled: ${DEV_ENABLE_OPAL_USER_SERVICE}
  java:
    releaseNameOverride: '{{ .Release.Name }}-user-service'
    image: 'sdshmctspublic.azurecr.io/opal/user-service:${DEV_OPAL_USER_SERVICE_IMAGE_SUFFIX}'
    ingressHost: "opal-fines-service-pr-${CHANGE_ID}-user-service.dev.platform.hmcts.net"
    keyVaults:
      opal:
        secrets:
          - name: app-insights-connection-string
            alias: app-insights-connection-string
          - name: launch-darkly-sdk-key
            alias: LAUNCH_DARKLY_SDK_KEY
          - name: AzureADTenantId
            alias: AAD_TENANT_ID
          - name: AzureADClientId
            alias: AAD_CLIENT_ID
          - name: AzureADClientSecret
            alias: AAD_CLIENT_SECRET
          - name: OpalTestUserPassword
            alias: OPAL_TEST_USER_PASSWORD
    environment:
      OPAL_USER_DB_HOST: "{{ .Release.Name }}-postgresql"
      OPAL_USER_DB_NAME: "opal-user-db"
      OPAL_USER_DB_USERNAME: "{{ .Values.global.postgresUsername}}"
      OPAL_USER_DB_PASSWORD: "{{ .Values.global.postgresPassword}}"
      OPAL_USER_DB_OPTIONS: "{{ .Values.global.postgresOptions}}"
      RUN_DB_MIGRATION_ON_STARTUP: true
      OPAL_FRONTEND_URL: "${OPAL_FRONT_END_URL}"
      TESTING_SUPPORT_ENDPOINTS_ENABLED: true
      LAUNCH_DARKLY_ENABLED: false
      APPLICATIONINSIGHTS_ROLE_NAME: "opal-fines-service-pr-${CHANGE_ID}-user-service"
    postgresql:
      enabled: false
opal-logging-service:
  enabled: ${DEV_ENABLE_OPAL_LOGGING_SERVICE}
  java:
    releaseNameOverride: '{{ .Release.Name }}-logging-service'
    image: 'sdshmctspublic.azurecr.io/opal/logging-service:${DEV_OPAL_LOGGING_SERVICE_IMAGE_SUFFIX}'
    ingressHost: "opal-fines-service-pr-${CHANGE_ID}-logging-service.dev.platform.hmcts.net"
    secrets:
      SERVICEBUS_SHARED_ACCESS_KEY:
        secretRef: opal-sb-dev
        key: primaryKey
      SERVICEBUS_CONNECTION_STRING:
        secretRef: opal-sb-dev
        key: connectionString
    keyVaults:
      opal:
        secrets:
          - name: app-insights-connection-string
            alias: app-insights-connection-string
          - name: launch-darkly-sdk-key
            alias: LAUNCH_DARKLY_SDK_KEY
          - name: AzureADTenantId
            alias: AAD_TENANT_ID
          - name: AzureADClientId
            alias: AAD_CLIENT_ID
          - name: AzureADClientSecret
            alias: AAD_CLIENT_SECRET
          - name: OpalTestUserPassword
            alias: OPAL_TEST_USER_PASSWORD
    environment:
      OPAL_LOGGING_DB_HOST: "{{ .Release.Name }}-postgresql"
      OPAL_LOGGING_DB_NAME: "opal-logging-db"
      OPAL_LOGGING_DB_USERNAME: "{{ .Values.global.postgresUsername}}"
      OPAL_LOGGING_DB_OPTIONS: "{{ .Values.global.postgresOptions}}"
      OPAL_LOGGING_DB_PASSWORD: "{{ .Values.global.postgresPassword}}"
      RUN_DB_MIGRATION_ON_STARTUP: true
      OPAL_LOGGING_TEST_SUPPORT_ENABLED: true
      APPLICATIONINSIGHTS_ROLE_NAME: "opal-fines-service-pr-${CHANGE_ID}-logging-service"
      SERVICEBUS_LOGGING_PDPL_QUEUE_NAME: "{{ .Release.Name}}-servicebus-logging-pdpl"
      SERVICEBUS_LOGGING_PDPL_PROTOCOL: amqps
    postgresql:
      enabled: false
servicebus:
  enabled: ${DEV_ENABLE_OPAL_SERVICE_BUS}
  releaseNameOverride: ${SERVICE_NAME}-servicebus
  resourceGroup: "opal-aso-dev-rg"
  sbNamespace: "opal-servicebus-dev"
  setup:
    queues:
      - name: "logging-pdpl"
redis:
  enabled: true
  architecture: standalone
  master:
    persistence:
      enabled: false
  auth:
    enabled: false
