java:
  applicationPort: 4550
  image: 'sdshmctspublic.azurecr.io/opal/fines-service:latest'
  ingressHost: opal-fines-service.{{ .Values.global.environment }}.platform.hmcts.net
  keyVaults:
    opal:
      secrets:
        - name: app-insights-connection-string
          alias: app-insights-connection-string
        - name: launch-darkly-sdk-key
          alias: LAUNCH_DARKLY_SDK_KEY
        - name: fines-service-POSTGRES-HOST
          alias: OPAL_FINES_DB_HOST
        - name: fines-service-POSTGRES-PASS
          alias: OPAL_FINES_DB_PASSWORD
        - name: fines-service-POSTGRES-PORT
          alias: OPAL_FINES_DB_PORT
        - name: fines-service-POSTGRES-USER
          alias: OPAL_FINES_DB_USERNAME
        - name: fines-service-POSTGRES-DATABASE
          alias: OPAL_FINES_DB_NAME
        - name: AzureADTenantId
          alias: AAD_TENANT_ID
        - name: AzureADClientId
          alias: AAD_CLIENT_ID
        - name: AzureADClientSecret
          alias: AAD_CLIENT_SECRET
        - name: OpalTestUserPassword
          alias: OPAL_TEST_USER_PASSWORD
        - name: OpalLegacyGatewayUsername
          alias: OPAL_LEGACY_GATEWAY_USERNAME
        - name: OpalLegacyGatewayPassword
          alias: OPAL_LEGACY_GATEWAY_PASSWORD
        - name: inbound-user
          alias: OPAL_SFTP_INBOUND_USER
        - name: inbound-password
          alias: OPAL_SFTP_INBOUND_PASSWORD
        - name: outbound-user
          alias: OPAL_SFTP_OUTBOUND_USER
        - name: outbound-password
          alias: OPAL_SFTP_OUTBOUND_PASSWORD
        - name: servicebus-connection-string
          alias: SERVICEBUS_CONNECTION_STRING
        - name: servicebus-shared-access-key
          alias: SERVICEBUS_SHARED_ACCESS_KEY
        - name: servicebus-logging-pdpl-queue-name
          alias: SERVICEBUS_LOGGING_PDPL_QUEUE_NAME
  environment:
    RUN_DB_MIGRATION_ON_STARTUP: true
    OPAL_FRONTEND_URL: https://opal-frontend.{{ .Values.global.environment }}.platform.hmcts.net
    TESTING_SUPPORT_ENDPOINTS_ENABLED: true
    LAUNCH_DARKLY_ENABLED: true
    OPAL_LEGACY_GATEWAY_URL: https://opal-legacy-db-stub.{{ .Values.global.environment }}.platform.hmcts.net
    OPAL_USER_SERVICE_API_URL: https://opal-user-service.{{ .Values.global.environment }}.platform.hmcts.net
    FLYWAY_LOCATIONS: classpath:db/migration/allEnvs
    SERVICEBUS_LOGGING_PDPL_PROTOCOL: amqps
  postgresql:
    enabled: false
    image:
      tag: '17.5.0'
opal-frontend:
  enabled: false
opal-user-service:
  enabled: false
opal-logging-service:
  enabled: false
servicebus:
  enabled: false
redis:
  image:
    registry: hmctspublic.azurecr.io
    repository: imported/bitnami/redis
  enabled: false
global:
  security:
    allowInsecureImages: true
