{{#isBodyParam}}{{>paramDoc}}{{#useBeanValidation}} @Valid{{>beanValidationBodyParams}}{{/useBeanValidation}} @RequestBody{{^required}}(required = false){{/required}} {{^reactive}}{{>nullableAnnotation}}{{#requestType}}{{{requestType}}}{{/requestType}}{{^requestType}}{{>optionalDataType}}{{/requestType}}{{/reactive}}{{#reactive}}{{^isArray}}Mono<{{#requestType}}{{{requestType}}}{{/requestType}}{{^requestType}}{{{dataType}}}{{/requestType}}>{{/isArray}}{{#isArray}}Flux<{{{baseType}}}>{{/isArray}}{{/reactive}} {{paramName}}{{/isBodyParam}}
