{{^required}}{{^defaultValue}}{{^useOptional}}{{#openApiNullable}}{{^isNullable}}@org.jspecify.annotations.Nullable {{/isNullable}}{{/openApiNullable}}{{^openApiNullable}}@org.jspecify.annotations.Nullable {{/openApiNullable}}{{/useOptional}}{{/defaultValue}}{{#defaultValue}}{{^openApiNullable}}{{#isNullable}}@org.jspecify.annotations.Nullable {{/isNullable}}{{/openApiNullable}}{{/defaultValue}}{{/required}}