---
name: Check for duplicate Flyway scripts
on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
permissions:
  id-token: write
  contents: read
jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Check for duplicate Flyway scripts
        run: ./bin/ci/flyway-dupe-checker.sh
